{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
    login
{% endblock %}

{% block body %}
  <h1>Login</h1>
  {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endif %}
  <form method="POST">
    {{ form.csrf_token() }}

    {% for field in ['username', 'password'] %}
      {{ render_field(form[field]) }}
    {% endfor %}

    <div>
      {{ form.submit(class="btn btn-primary btn-lg", value="log in") }}
    </div>

	 <a href="{{ url_for('auth_app.register') }}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Register</a>
  </form>
{% endblock %}
